.list__container{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: #111;
}

.listItem{
    width: 20%;
}

.bgGrey{
    background-color: #111;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
   
}

.heading{
    color: white;
    margin: 0;
    padding: 0;
    margin-left: 4vw;
    
    
}

@media screen and (max-width:1200px){
    .listItem{
        width: 30%;
    }
}

@media screen and (max-width:720px){
    .listItem{
        width: 50%;
    }
}