.navbar{
    position: fixed;
    height: 68px;
    z-index: 99;
    width: 100%;
   
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
        list-style: none !important;
    }
    li {
      margin-right: 20px;
    }
    a {
      font-size: 15px;
      letter-spacing: 0.5px;
      color: #e5e5e5;
    }
    a.active {
      color: white;
      font-weight: 500;
    }
    ul.right {
      i {
        color: white;
        cursor: pointer;
        font-size: 22px;
      }
      
    }

    
}

.blackBackGround{
    background-color: rgb(20, 20, 20);
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 10%,
      rgba(0, 0, 0, 0))
    
  }

.backgroundTransparent{
    background: transparent;
}

.hero{
    position: relative;
   background-image: url(https://image.tmdb.org/t/p/original/6al048Lat3eLVQOuKtc9h6Tu94d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 98vh;
    top: 0;
    .synopsis {
      padding-top: 300px;
      padding-left: 60px;
      max-width: 500px;
      color: white;
      padding-left: 60px;
     
      button{
        background-color: rgba(51, 51, 51, 0.8);
        border: 1px solid white;
        padding: 0.75em 2.3em;
        border-radius: 0.2vw;
        box-shadow: none;
        font-size: 1.1vw;
        color: white;
        margin-right: 15px;
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 0.4px;
      }

     p{
         font-size: 26px;
     }

     i {
        margin-right: 10.5px;
        font-size: 18px;
      }

      .play_btn{
          color: black;
          background-color: white;
      }
    }
    .ContentRow {
      position: absolute;
      bottom: 20px;
    }
}